:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

.link {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.list {
  list-style: none;
}

body {
  font-family: var(--primary-font);
  color: #434455;
  background-color: #ffffff;
}

/* ==========--------HEADER================== */

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo:hover,
.logo:focus {
  color: #404bbf;
}

.accent-logo-header {
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: #404bbf;
}

.contact-phone-number {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ====================== /HEADER =====================*/

/* ================== HERO===================== */
.modal-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.main-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero {
  background-color: #2e2f42;
}

/* ================== /TEAM===================== */
.section-team {
  background-color: #f4f4fd;
}
.team-cards {
  background-color: #ffffff;
}
/* ================== /TEAM===================== */

/* ================== /HERO===================== */

/* ================= COMPONENTS================= */
.section-headings {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-subheadings {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-description {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ================= /COMPONENTS================= */

/* ======================FOOTER==================== */
.footer-description {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  background-color: #2e2f42;
}

.accent-logo-footer {
  color: #f4f4fd;
}
/* ======================/ FOOTER ==================== */

/* ===================PORTFOLIO=============== */
.btn-page {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}

.btn-page:hover,
.btn-page:focus {
  color: #ffffff;
  background: #404bbf;
}
/* ===================PORTFOLIO=============== */
