:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --white-background: #ffffff;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --body-text-color: #434455;
  --dark-color: #2e2f42;
  --light-background-color: #f4f4fd;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: var(--primary-font);
  color: var(--body-text-color);
  background-color: var(--white-background);
}

/* ==========--------HEADER================== */

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.logo:hover,
.logo:focus {
  color: var(--pressed-state);
}

.accent-logo-header {
  color: var(--dark-color);
}

.contacts {
  font-style: normal;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--pressed-state);
}

.contact-phone-number {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* ====================== /HEADER =====================*/

/* ================== HERO===================== */
.modal-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  background-color: var(--primary-brand);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
}

.main-title {
  font-family: var(--primary-font);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.hero {
  background-color: var(--dark-color);
}

/* ================== /TEAM===================== */
.section-team {
  background-color: var(--light-background-color);
}
.team-cards {
  background-color: var(--white-background);
}
/* ================== /TEAM===================== */

/* ================== /HERO===================== */

/* ================= COMPONENTS================= */
.section-headings {
  font-family: var(--primary-font);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
}

.section-subheadings {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.section-description {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
/* ================= /COMPONENTS================= */

/* ======================FOOTER==================== */
.footer-page {
  background-color: var(--dark-color);
}

.footer-description {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-background-color);
}

.accent-logo-footer {
  color: var(--light-background-color);
}
/* ======================/ FOOTER ==================== */

/* ===================PORTFOLIO=============== */
.btn-page {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  cursor: pointer;
  background-color: var(--light-background-color);
}

.btn-page:hover,
.btn-page:focus {
  color: var(--white-background);
  background: var(--pressed-state);
}
/* ===================PORTFOLIO=============== */
